#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#general-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 0 0 0.5em 0;
    padding: 0;
    border-radius: 13px;
    border: 2px solid #5e6491;
    background-color: #777EAF;
    font-size: 1.2rem;
    line-height: 0;
    letter-spacing: 0.3em;
    color: #ffffff;
}

#time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#gameboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#play-area{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 0.5em 1em;
    border-radius: 20px 20px 0 0;
    background-color: #777EAF;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0.5em;
    border-radius: 25px;
    background-color: #777eaf;
}

.column:hover{
    background-color:#5e6491;
    cursor: pointer;
}

.slot{
    padding: 1.5em;
    margin: 0.3em 0;
    border-radius: 50%;
    background-color: #a1a6ca;
}

.slot.p1 {
    background-color: #f7f77b !important;
}

.slot.p2 {
    background-color: #55e7e7 !important;
}

#divider{
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    background-color: #5e6491;
}

#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0 0 20px 20px;
    background-color: #ffffff;
    font-size: 1.2rem;
    color: #0F8FAF;
}

#game-over {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
}

#winner {
    margin: 0 0 6px 0;
    font-size: 1.2rem;
}

#reset {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border: none;
    border-radius: 8px;
    background-color: #5e6491;
    color: #f0ffff;
    font-size: 0.9rem;
    cursor: pointer;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 1em;
}

.player p {
    margin: 0.2em 0;
    padding: 0;
    font-size: 1.5rem;
}

#p2-time,
#p1-time {
    font-size: 1.2rem;
    font-weight: 700;
}

#turn {
    background-color:  #f7f77b;
    border: 8px dashed #a1a6cad2;
    padding: 0.4em;
}

#turn p {
    margin: 0;
    padding: 0.3em 0.4em;
    border-radius: 50%;
    background-color: #a1a6cad2;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.btn {
    box-sizing: border-box;
    width: 100%;
    margin: 0.5em 0;
    border-radius: 10px; 
    border-width: 0px; 
    padding: 8px;
    font-size: 1.5rem;
    background-color: #5e6491;
    color: #f0ffff;
}

.switch-p1 {
    transform: rotateY(180deg) !important;
    transition: 0.3s;
}

.switch-p2 {
    transform: rotateY(360deg) !important;
    transition: 0.3s;
}