#title-scatter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    margin: 0.3em 0;
    font-family: 'Fredoka One', sans-serif;
    font-size: 3.5rem;
    text-align: center;
}

.letters {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0.2em;
}

.letter {
    padding: 0.1em;
}

#games-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 20vw;
}

#games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 437px;
    margin: 0;
    padding: 0;
    border-radius: 13px;
    list-style-type: none;
    background-color: #f1f1f1;
}

#empty {
    font-size: 1.5rem;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border-bottom: 1px solid #cecece;
    font-size: 1.5em;
    cursor: pointer;
}

.game:focus {
    outline: none;
    box-shadow: 0 0 3px 2px #5e6491;
}

.match-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5em 1em 0 1em;
    font-size: 1em;
    pointer-events: none;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0.5em;
}

.match-container p {
    padding: 0;
    margin: 0;
}

.date {
    margin: 0.3em 0;
    padding: 0;
    font-size: 0.6em;
    pointer-events: none;
}

.delete {
    margin: 0.1em 0;
    padding: 0.1em 0.5em;
    border-radius: 15px;
    font-size: 0.8rem;
    color: #a06161;
    transition: 0.3s;
}

.delete:hover {
    background-color: #5e6491;
    color: #f1f1f1;
    transition: 0.3s;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn {
    width: 100%;
    margin:0;
    padding: 0.3em 0.5em;
    border-radius: 10px; 
    border-width: 0px; 
    background-color: #5e6491;
    border: 2px solid #5e6491;
    font-size: 1.5em;
    color: #f0ffff;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover,
.btn:focus {
    outline: none;
    border: 2px solid #f1f1f1;
    transition: 0.3s;
}

#navigation-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navigation.btn {
    margin: 0.3em;
    border-radius: 8px;
    font-size: 1rem;
}

@media only screen and (max-width: 740px) {
    #title-scatter {
        flex-direction: column;
    }

    .letters {
        font-size: 12vw;
    }
}